.footer {
}
.container {
}
.footer__container {
  padding-top: 50px;
  border-top: 2px solid #f8f8f8;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  gap: 40px 126px;
  grid-template-areas:
    'logo social contact'
    'copyright . developer';
}
.footer__logo {
  grid-area: logo;
}
.footer__list {
  display: flex;
  flex-direction: column;
}
.footer__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #232020;
}
.footer__link {
  display: inline-block;
  line-height: 0;
}
.footer__link_contact {
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer__social {
  grid-area: social;
  flex-direction: row;
  gap: 24px;
  justify-self: end;
  padding-top: 8px;
}
.footer__contact {
  grid-area: contact;
  gap: 16px;
  padding-top: 8px;
}
.footer__copyright {
  grid-area: copyright;
  margin: 0;
}
.footer__developer {
  grid-area: developer;
  gap: 8px;
}
